@font-face {
    font-family: 'Haettenschweiler';
    src: url(/src/fonts/Haettenschweiler-Regular.ttf);
}
@font-face {
    font-family: 'Montserrat';
    src: url(/src/fonts/Montserrat-VariableFont_wght.ttf);
}

*{
    margin: 0;
    padding: 0;
}

html {
    font-size: 6.25%;
}

body {
    font-size: 16rem;
}

:root{
    --primary-color: #faa928;
    --secondary-color: #282828;
    --tertiary-color: #ffffff;
}

.content{
    width: 100vw;
    height: 100vh;
    background-image: url(/src/img/food-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-rows: 1fr 9fr 1fr;
}

.menu-content{
    width: 100vw;
    height: 100vh;
    background-image: url(/src/img/menu-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-rows: 1fr 9fr 1fr;
}

.main{
    justify-self: start;
    align-self: center;
    display: flex;
}

.menu-main{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 30px;
}

.contact-main{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 30px;
    gap: 70px;
}

.menu-container{
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-template-rows: repeat(2, 280px);
    gap: 30px;
}

.container-left{
    box-sizing: border-box;
    padding-left: 80px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-right{
    flex: 2;
}

.headline-top{
    font-family: Haettenschweiler, sans-serif;
    color: var(--tertiary-color);
    font-size: 100rem;
    line-height: 15rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.headline{
    font-family: Haettenschweiler, sans-serif;
    color: var(--primary-color);
    font-size: 200rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.text{
    font-family: Montserrat, sans-serif;
    color: var(--tertiary-color);
    font-size: 16rem;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.cssbuttons-io-button {
    margin-top: 27px;
    background: var(--primary-color);
    color: var(--secondary-color);
    font-family: Montserrat, sans-serif;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 20px;
    font-weight: 600;
    border-radius: 0.9em;
    border: none;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  
  .cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #cf8b1c;
    right: 0.3em;
    transition: all 0.3s;
  }
  
  .cssbuttons-io-button:hover{
    background-color: #e6d604;
  }

  .cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
  }
  
  .cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: var(--secondary-color);
  }
  
  .cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
  }
  
  .cssbuttons-io-button:active .icon {
    transform: scale(0.95);
  }

.github-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat, sans-serif; 
}

.github {
    width: 30px;
    margin-left: 6px;
}

.github-link {
    text-decoration: none;
    font-size: 18rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
}

.copyright-link{
    text-decoration: none;
    color: var(--tertiary-color);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
}

.username:hover{
    color: #ffba4c;
}

.tab-menu{
    display: flex;
    justify-content: center;
    gap: 50px;
    font-family: Montserrat, sans-serif;
    font-size: 22rem;
    color: var(--tertiary-color);
    padding-top: 30px;
}

.tab{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.tab:hover{
    color: var(--primary-color);
}

.tab-active{
    font-weight: bold;
    color: var(--primary-color);
    border-bottom: solid 4px var(--primary-color);
}

.menu-card{
    padding: 10px;
    border-radius: 10px;
    display: flex;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 2px solid var(--primary-color);
    box-sizing: border-box;
    padding: 15px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    cursor: pointer;
}

.menu-card:hover{
    background-color: var(--secondary-color);
}

.card-left{
    flex: 1;
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
    box-sizing: border-box;
    padding-right: 10px;
}

.card-right{
    flex: 1;
    border-radius: 7px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.burger-name{
    font-family: Haettenschweiler, sans-serif;
    color: var(--primary-color);
    font-size: 40rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.burger-price{
    font-family: Montserrat, sans-serif;
    font-size: 25rem;
    font-weight: bold;
    color: var(--primary-color);
    align-self: flex-end;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.burger-description{
    font-family: Montserrat, sans-serif;
    font-size: 16rem;
    color: var(--tertiary-color);
    align-self: baseline;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#burger1{
    background-image: url(./img/burger.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#burger2{
    background-image: url(./img/burger2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#burger3{
    background-image: url(./img/burger3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}

#burger4{
    background-image: url(./img/burger6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#burger5{
    background-image: url(./img/burger5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#burger6{
    background-image: url(./img/burger4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.contact{
    font-family: Haettenschweiler, sans-serif;
    font-size: 60rem;
    color: var(--primary-color);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.contact-text{
    font-family: Haettenschweiler, sans-serif;
    font-size: 40rem;
    color: var(--tertiary-color);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.map{
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.info-container{
    display: flex;
    box-sizing: border-box;
    padding: 30px;
    border-radius: 19px;
    align-items: center;
    gap: 50px;
    border: 3px solid var(--primary-color);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


@media (max-width: 767px) {
    .container-right{
        display: none;
    }
    .container-left{
        padding-left: 0px;
    }
    .headline{
        font-size: 140rem;
    }
    .headline-top{
        font-size: 75rem;
    }
    .menu-container{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 350px);
    }
    .menu-content{
        overflow: auto;
    }
    .menu-card{
        flex-direction: column;
        padding: 10px;
    }
    .card-left{
        grid-template-rows: repeat(3, 1fr);
    }
    .burger-price{
        align-self: center;
    }
    .github-container{
        margin-bottom: 15px;
        margin-top: 15px;
    }
    .info-container{
        flex-direction: column;
        -webkit-backdrop-filter: none;
        backdrop-filter: none;
        border: none;
    }
    .map{
        width: auto;
    }
    .contact-main{
        padding: 0;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .container-right{
        display: none;
    }
    .container-left{
        padding: 30px;
    }
    .headline{
        font-size: 200rem;
    }
    .headline-top{
        font-size: 100rem;
    }
    .text{
        font-size: 25rem;
    }
    .menu-container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 350px);
    }
    .menu-content{
        overflow: auto;
    }
    .menu-card{
        flex-direction: column;
        padding: 10px;
    }
    .card-left{
        grid-template-rows: repeat(3, 1fr);
    }
    .burger-price{
        align-self: center;
    }
    .github-container{
        margin-bottom: 15px;
        margin-top: 15px;
    }
    .info-container{
        flex-direction: column;
        -webkit-backdrop-filter: none;
        backdrop-filter: none;
        border: none;
    }
    .map{
        width: 700px;
    }
    .contact-main{
        padding: 0;
    }
    .cssbuttons-io-button{
        font-size: 35rem;
    }
  }